<div class="container">

    <div class="nav">
        <div class="links">
            <a routerLink="/home" routerLinkActive="active-link">Home</a>
        </div>
        <div class="links">
            <a routerLink="/company" routerLinkActive="active-link">Company Master</a>
        </div>
        <div class="links">
            <a routerLink="/country" routerLinkActive="active-link">Country Master</a>
        </div>
        <div class="links">
            <a routerLink="">Logout</a>
        </div>
    </div>