

<app-home></app-home>
<p-toast></p-toast>
    <p-accordion [multiple]="true" activeIndex="0 1">


<p-accordionTab header="Country Table">


    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Add country" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
       </ng-template>
 </p-toolbar>


    <p-table #dt [value]="countries" dataKey="code" styleClass="p-datatable-lg" [filterDelay]="0" [globalFilterFields]="['name','code','alpha2Code','alpha3Code']" editMode="row">
    <ng-template pTemplate="caption">
        <div class="table-header">
            List of counties
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="alpha2Code">Alpha2Code <p-sortIcon field="alpha2Code"></p-sortIcon></th>
                <th pSortableColumn="alpha3Code">Alpha3Code <p-sortIcon field="alpha3Code"></p-sortIcon></th>
                <th style="width:8rem"></th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        
        
        <ng-template pTemplate="body" let-country let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="country">
                <td>
                    
                        {{country.code}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="country.name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{country.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text"  style="text-transform: uppercase;" [(ngModel)]="country.alpha2Code" maxlength="2">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{country.alpha2Code|uppercase}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text"  style="text-transform: uppercase;" [(ngModel)]="country.alpha3Code" maxlength="3">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{country.alpha3Code|uppercase}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="log()" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="update(country.code,country.name,country.alpha2Code,country.alpha3Code)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="log()" class="p-button-rounded p-button-text p-button-danger"></button>
                </td> 
                <td>  
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(country.code)"></button>
                </td>
            </tr>
        
        </ng-template>
    </p-table>




    <p-dialog [(visible)]="countryDialog" [style]="{width: '450px'}" header="Country Details" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
       <div class="inputarea">  <p>Name</p><input [(ngModel)]="country.name" type="text" pInputText></div>
          <div class="inputarea"><p>Alpha2code (max: 2 characters)</p><input style="text-transform: uppercase;" [(ngModel)]="country.alpha2Code" maxlength="2" type="text" pInputText></div>
<div class="inputarea">            <p>Alpha3code (max: 3 characters)</p><input style="text-transform: uppercase;" [(ngModel)]="country.alpha3Code" maxlength="3" type="text" pInputText></div>

     </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="add()"></button>
        </ng-template>
    </p-dialog>
    
</p-accordionTab>

</p-accordion>