.container{
    display: flex;
    justify-content: center;
    padding:20px 20px;
    margin:10px;
    width:900px;
    background: white;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
    /* border:1px solid black; */
}
.pcontainer
{
  
    margin:100px;
    display: flex;
    justify-content: center;

}
h1{
    /* border: 1px solid black; */
    height:100px;
    padding:20px 20px;
}

.p-field{
    /* border:1px solid black; */
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}





.dropdown{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 1rem;
color: #495057;
background: #ffffff;
padding: 0.5rem 0.5rem;
border: 1px solid #ced4da;
transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

border-radius: 3px;

width:255px;}
.dropdown:hover{
border-color: #2196F3;
}

.dropdown:focus{
outline: 0 none;
outline-offset: 0;
box-shadow: 0 0 0 0.2rem #a6d5fa;
border-color: #2196F3;
}
option{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 1rem;
color: #495057;
background: #ffffff;
padding: 0.5rem 0.5rem;
border: 1px solid #ced4da;
transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
appearance: none;
border-radius: 3px;

}