<p-toast></p-toast>

<div class="container">
<div class="p-fluid " style="width:800px" >


    <div *ngIf="updatable; else elseBlock">
        <h1 style="text-align: center;">Update Company</h1>
    </div>
    <ng-template #elseBlock>
        <h1 style="text-align: center;">Add Company</h1>
    </ng-template>

    <div class="p-field ">
        <label for="company code">Company Code *required (max 2 characters) :</label><br><input id="company code"
            [(ngModel)]="company.coCode" type="text" maxlength="2" required style="width:392px" pInputText>
    </div>



    <div class="p-fluid p-formgrid p-grid ">

        <div class="p-field p-col ">
            <label for="company name">Company Name *required : </label><input id="company name"
                [(ngModel)]="company.coName" type="text" required pInputText class="p-mr-2">
        </div>

        <div class="p-field p-col">
            <label for="short name ">Company Short Name *required : </label><input id="short name"
                style="text-transform: uppercase;" [(ngModel)]="company.coShName" required type="text" pInputText
                class="p-mr-2">
        </div>
    </div>



    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col">
            <label for="modiclosedate">Modification Close Date *required : </label>
            <p-calendar id="modiclosedate" [(ngModel)]="company.modiCloseDate" icon="pi pi-calendar" required>
            </p-calendar>
        </div>


        <div class="p-field p-col">
            <label for="module type">Module Type *required : </label><input id="module type"
                [(ngModel)]="company.moduleType" maxlength="200" type="text" style="text-transform: uppercase;" required
                pInputText>
        </div>

    </div>




    <div class="p-field">
        <label for="multiLanguageYn">Multi Language</label><input id="multiLanguageYn" type="checkbox" value="N"
            [checked]="company.multiLanguageYn === 'Y'"
            (change)="company.multiLanguageYn = $event.target.checked ? 'Y' : 'N'" />
    </div>

    <div class="p-field">
        <label for="primarylanguage">Primary language</label><br><input id="primarylanguage"
            [(ngModel)]="company.primaryLangauge" maxlength="200" type="text" maxlength="2" style="width:392px" pInputText>
    </div>

    <div *ngIf="company.multiLanguageYn === 'Y'">
        <div class="p-fluid p-formgrid p-grid">




            <div class="p-field p-col">
                <label for="secondarylanguage">Secondary language</label><br><input id="secondarylanguage"
                    [(ngModel)]="company.secondryLangauge" maxlength="200" type="text" maxlength="2" style="width:392px" pInputText>
            </div>

        </div>
    </div>




    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col">
            <label for="add1">Add1</label><input id="add1" [(ngModel)]="company.add1" maxlength="200" type="text"
                [disabled]="!company.multiLanguageYn" pInputText>
        </div>


        <div class="p-field p-col">
            <label for="add2">Add2</label><input id="add2" [(ngModel)]="company.add2" maxlength="200" type="text"
                pInputText>
        </div>


        <div class="p-field p-col">
            <label for="add3">Add3</label><input id="add3" [(ngModel)]="company.add3" maxlength="200" type="text"
                pInputText>
        </div>

    </div>




    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col">
            <label for="baseCurCode">BaseCurCode</label><input id="baseCurCode" [(ngModel)]="company.baseCurCode"
                maxlength="200" type="text" pInputText>
        </div>

        <div class="p-field p-col">
            <label for="email">email</label><input id="email" [(ngModel)]="company.email" maxlength="200" type="text"
                pInputText>
        </div>


        <div class="p-field p-col">
            <label for="website">Website</label><input id="website" [(ngModel)]="company.website" maxlength="200"
                type="text" pInputText>
        </div>
    </div>




    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col">
            <label for="yrSDt">Year start date</label>
            <p-calendar id="yrSDt" [(ngModel)]="company.yrSDt"></p-calendar>
        </div>
        <div class="p-field p-col">
            <label for="yrEDt">Year end date</label>
            <p-calendar id="yrEDt" [(ngModel)]="company.yrEDt"></p-calendar>
        </div>

    </div>



    <div *ngIf="company.yrSDt>company.yrEDt;">
        <div>

            <p style="color:red;">*Start date must be before end date</p>
        </div>

    </div>
    <div *ngIf="updatable; else addButton">
        <button pButton pRipple label="Update" class="p-button-success" (click)="addOrUpdateCompany()"
            style="width:100px;"></button>


    </div>
    <ng-template #addButton>

        <button pButton pRipple label="Add" class="p-button-success" (click)="addOrUpdateCompany()"
            style="width:100px;"></button>

    </ng-template>


</div>
</div>