h1{
    font-weight: lighter;
}

.welcome{
    padding: 20px 20px;
    margin:20px;
    
    text-align: center;
}


.nav {

    height: 160px;
    background-color: #457fca;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.links {
    width: 200px;
    height:100px;
    margin: 10px;
    font-weight: bolder;
    color: white;
    /* border:2px solid black; */
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}


.links p {
    cursor: pointer;

}




.container{
    position: relative;
}

