<app-navbar></app-navbar>
<h1 class="welcome">Welcome {{userName}}</h1>

<div class="container">

    <div class="content">
        <h1>Content</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum molestias aut, minus natus quia eius!
            Distinctio quaerat omnis pariatur iusto necessitatibus similique reiciendis natus earum, vero dolorem libero
            aut excepturi ipsum a! Officia aspernatur, incidunt qui nisi quae cumque. Rem maxime asperiores quisquam
            consequatur et laborum, voluptatem culpa incidunt eos facere quas, quod ducimus laudantium libero, ea illo?
            Nesciunt, id.</p><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore numquam doloremque, quibusdam eius eveniet
            quidem incidunt quisquam adipisci, facilis dignissimos voluptatibus rerum esse harum voluptate omnis
            laboriosam consequatur ipsam itaque reprehenderit corporis. Ipsa excepturi, rem harum ullam sit
            reprehenderit aliquid molestiae quos, vero laudantium natus maiores ipsam dolores magni tempore architecto
            eos enim tempora. Nostrum consequuntur explicabo, sit provident beatae culpa. Repellat architecto amet
            consequatur dolore nihil est sit, provident neque. Ea tenetur voluptas est qui amet aperiam illum ullam.
            Accusantium minima nam aperiam facere laboriosam, doloribus ab quisquam assumenda? Vel, laboriosam
            aspernatur. Quasi doloribus dolorem id sequi, iusto sunt?</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, quis.</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quae nulla consectetur error voluptate
            ratione doloremque cumque voluptas, iure, recusandae natus, quidem nemo. Voluptatem quod, et mollitia
            officiis eius, dolor assumenda repellendus reiciendis expedita debitis dolore aut error repudiandae
            deleniti?</p><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, quas pariatur nisi vero facere ipsum
            officiis aspernatur! Nesciunt ea error officiis corrupti suscipit tempore rerum, dignissimos illum pariatur
            in quod.</p><br>
    </div>

</div>