<div class="container">




    <div class="loginbox">


        <div class="inputareabox">


            <div class="inputarea">
                <h1>Login</h1>
            </div>

            <!-- Form start -->
            <div class="inputarea">

                <label for="username">Username</label><br><input class="input" type="text" id="username">

            </div>

            <div class="inputarea">

                <label for="email">Email</label><br><input class="input" type="email" id="email">

            </div>


            <div class="inputarea">

                <label for="password">Password</label><br><input class="input" type="password" id="password">

            </div>


            <div class="inputarea">

                <button class="button">Login</button>

            </div>

            <!-- Form end -->
        </div>

    </div>

</div>