<div class="container">

    <div class="logintitle">
        <h1>Login</h1>


    </div>
    <div *ngIf="notValid">
        <div class="invalidcred">Invalid credentials</div>
     </div>
    <div class="loginbox">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="inputarea">


                <label for="username">Username</label><input id="username" type="text" class="input"
                    formControlName="username">

                <div *ngIf="username.invalid && (username.dirty || username.touched)">
                    <small class="warning-message">Username required</small>
                </div>


            </div>

            <div class="inputarea">


                <label for="password">email</label><input id="email" type="email" class="input" formControlName="email">

                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <small class="warning-message">email required</small>
                </div>


            </div>

            <div class="inputarea">

                <label for="password">Password</label><input id="password" type="password" class="input"
                    formControlName="password">


                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <small class="warning-message">Password required</small>
                </div>

            </div>

            <div class="inputarea">

                <button type="submit" [disabled]="!userForm.valid" class="button">sign in</button>
            </div>
        </form>

    </div>


</div>