<div class="container">

    <div class="logintitle">
        <h1>Login</h1>

       
    </div>
    <div class="loginbox">

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="inputarea">
            <label for="username">Username</label><input id="username" type="text" class="input" formControlName="username">
            <small class="warning-message">Username required</small>
        </div>
        <div class="inputarea">
            <label for="password">email</label><input id="email" type="email" class="input" formControlName="email">
            <small class="warning-message">email required</small>
        </div>
        <div class="inputarea">
            <label for="password">Password</label><input id="password" type="password" class="input" formControlName="password">
            <small class="warning-message">Password required</small>
        </div>
           
        <div class="inputarea"><button type="submit" [disabled]="!userForm.valid" class="button">sign in</button></div>
    </form>
    </div>
<p>   {{userForm.value|json}}</p>
<p>form status : {{userForm.status}}</p>
 
    

</div>