


.container {
    display: flex;
    height: 100vh;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(243, 241, 241);
}

.loginbox {
    /* height:600px; */
    width: 350px;

    background: white;
    padding: 20px 20px;
    border-radius: 2%;




}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: grey 1px solid;

}

.button {
    border: none;
    background: rgb(10, 155, 10);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80px;
    transition: 0.3s ease-in-out;
}

.inputarea {

    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;

}

.button:hover {
    background: rgb(7, 117, 5);
    cursor:pointer;
    

}
