


.container {
    display: flex;
    height: 110vh;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(243, 241, 241);
}

.loginbox {
    /* height:600px; */
    width: 350px;

    background: white;
    padding: 20px 20px;
    border-radius: 2%;




}
label{
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: grey 1px solid;

}



.inputarea {

    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 105px;
position: relative;


}

.button {
    border: none;
    background: rgb(10, 155, 10);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80px;
    transition: 0.3s ease-in-out;
}
.button[disabled]{
    border: none;
     background: rgb(10, 155, 10);
     opacity: 0.5;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 80px;

    
}

.button:hover[disabled]{
    background: rgb(10, 155, 10);
    cursor: default;
    opacity: 0.5;
}
.button:hover {
    background: rgb(7, 117, 5);
    cursor:pointer;
    

}

.warning-message{
    color:red;

    position: absolute;
    bottom:0;

    transition: 0.3s ease-in-out;




}